<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    colors="true"
    backupGlobals="false"
    testdox="true"
    bootstrap="../vendor/autoload.php"
>
    <php>
        <!-- Set error reporting level to display PHP errors -->
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory
                phpVersion="8.1.0"
                phpVersionOperator=">="
                suffix="Unit_Test.php"
            >
                ../src
            </directory>
        </testsuite>
    </testsuites>
</phpunit>